* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: light;
}


body {
  padding-bottom: 10rem;
  padding-top: 3rem;
  background-image: url("/static/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  body {
    padding-top: 4.5rem;
    padding-bottom: 0rem;
}}

.eve {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

menu {
  gap: 3rem;
  display: flex;
  padding: 4rem;
}

@media (max-width: 768px) {
  menu {
    gap: 2rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
  
}

menu a {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 20rem;
  text-decoration: none;
  background-color: #0000006c;
  border: 1px solid #0000006c;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 20px;
  cursor: pointer;
}

menu a svg {
  height: 100px;
  width: 100px;
}

.gencon{
  gap: 3rem;
  display: flex;
  align-items: center;
  min-width: 200px;
  border-radius: 20px;
  padding: 4rem;
  background-color: #00000071;
}

@media (max-width: 768px) {
  .gencon {
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .formulario {
    align-items: right;
    justify-content: right;
  }

  .mt-4 {
    width: 100%;
    gap: 1rem;
    text-align: center;
  }

  .mt-4 h4 {
    font-size: 2.2rem;
  }

  .mt-4 p {
    font-size: 1.5rem;
  }
  
  .mt-4 .share a {
    height: 60px;
    width: 60px;
  }
}

.inputs {
    width: 100%;
}

.vercon{
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 200px;
  min-width: 200px;
  border-radius: 20px;
  padding: 4rem;
  background-color: #00000071;
}

.vercon a{
  background-color: #0000006c;
  border: 1px solid #0000006c;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  text-decoration: none;
  cursor: pointer;
}

.btnver{
  background-color: #00aa55b6;
  border: 1px solid #00aa55b6;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  text-decoration: none;
  cursor: pointer;
}


/* --- TÍTULOS Y TEXTOS --- */
.description {
  gap: 1.2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.gencon img {
  justify-self: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.descriptiontest {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

p {
  width: 200px;
  color: #ffffff;
  text-align: center;
}

/* --- CONTENEDOR PRINCIPAL --- */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}

/* --- FORMU --- */
.formulario {
  min-width: 350px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.mb-3 input,
.mb-3 textarea {
  border-radius: 0px;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: #ffffff !important;
  opacity: 1 !important;
}

.mb-3 input::placeholder,
.mb-3 textarea::placeholder {
  color: rgba(255, 255, 255, 0.829);
}

.mb-3 input:focus,
.mb-3 textarea:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.gencon button {
  margin-right: 0.7rem;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  cursor: pointer;
}

.gencon a button {
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  cursor: pointer;
}


a button:hover {
  background: #0000006c;
}

/* --- RESULTADOS ESCÁNER --- */
.result-ok {
  background-color: #d1f7d6;
  border: 1px solid #49a078;
  color: #1e5631;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-align: center;
}

.result-used {
  background-color: #fff3cd;
  border: 1px solid #ffcc00;
  color: #856404;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-align: center;
}

.result-invalid {
  background-color: #f8d7da;
  border: 1px solid #dc3545;
  color: #721c24;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  text-align: center;
}

.searcher {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 1300px)   {
  .searcher {
    width: 85%;
  }

  .searcher .btn {
    display: none;
  }
} 

.searcher input,
.searcher textarea {
  border: none;
  border-bottom: 2px solid #ffffff;
  padding: 0.75rem;
  font-size: 1rem;
  width: 700%;
  background: none;
  outline: none;
  color: rgba(255, 255, 255, 0.829);
}

.searcher input::placeholder,
.searcher textarea::placeholder {
  color: rgba(255, 255, 255, 0.829);
}

.searcher input:focus,
.searcher textarea:focus {
  outline: none;
  background: linear-gradient(to right, #00000075, #00000000);
  color: #ffffff;
}


.searcher a button{
  background: none;
  color: rgb(0, 0, 0);
  border: 1px solid #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  background-color: #ffffff;
  cursor: pointer;
}

.searcher .btn{
  background-color: #0000006c;
  border: 1px solid #0000006c;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
  cursor: pointer;
}


table {  
  top: 20rem;
  border-radius: 20px;
  font-size: small;
  width: 1200px;
  border-collapse: collapse;
  background-color: #0000004b;
  overflow: hidden
}

@media (max-width: 1300px)  {
  table {
    width: 85%;
  }

  .searcher .btn {
    display: none5t;
  }
}

table button {
  border: none;
  outline: none;
  color: #830000;

  border-radius: 200px;
  height: 30px;
  width: 30px;
}

thead {
  background-color: #0000004b;
  color: #ffffff;
  font-weight: lighter;
  height: 50px;
}

thead th {
  font-weight: lighter;
  padding: 0.75rem 1rem;
  text-align: left;
}

tbody td {
  padding: 0.75rem 1rem;
  color: #ffffff;
  font-weight: lighter;
}

tr {
  border-bottom: 1px solid #ffffffa6;
  height: 40px;
}


tbody td:last-child, td:first-child {
  border-bottom: none !important;
}

tr:last-child{
  border-bottom: none !important;
}


/*---------------------*/

form {
  display: inline;
 }

.form-control {
  width: 100%;
  padding: 0.75rem;
  font-weight: lighter;
  font-size: 1rem;
  border-radius: 0px;
  color: white;
  background:none;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  appearance: none; /* Quita el estilo por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* flecha SVG */
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='white' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;
}

.form-control:focus {
  background-color: #000000;
  appearance: none; /* Quita el estilo por defecto */
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  opacity: 1;
  border-bottom: 1px solid #ccc;
}

.mt-3 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.mt-4 {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #00aa55b6;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.genbuttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

.genbuttons2 .alert-danger {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dc3545;
  font-weight: bold;
}

.genbuttons2 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-top: 2vh;
}

.nav {
  padding: 1rem;
  background-color: #0000006c;
  border-radius: 200px;
  width: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 200px;
  cursor: pointer;
}

.nav .btn {
  background-color: #e62a2a6c;
  border: 1px solid #0000006c;
  height: 50px;
  width: 50px;
  text-decoration: none;
  border-radius: 200px;
  cursor: pointer;
}

.nav a svg{
  height: 32px;
  width: 32px;
}

.mt-4 a {
  height: 40px;
  width: 40px;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.share {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.share a {
  height: 40px;
  width: 40px;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.share a svg{
  height: 30px;
  width: 30px;
}

.share2 {
  flex-direction: row;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 1rem;
}

.share2 a {
  height: 32px;
  width: 32px;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.share2 a svg{
  height: 25px;
  width: 25px;
}

.qrdata {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.counter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-family: "Rubik", sans-serif;
  background-color: #0000006c;
  border-radius: 200px;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
}

.counter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.counter-buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0000006c;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.5rem;
  gap: 0.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 200px;
}

.counter-buttons button span {
  display: flex;
  flex-direction: row;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 100px;
}

