<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Iniciar sesión</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename='webicon.png') }}">
  <style>@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');</style>
</head>
<body>
  <div class="gencon">
    <div class="description">
      <img src="{{ url_for('static', filename='sellokalenablanco.png') }}" alt="Logo">
      <div class="descriptiontest">
        <h1>Inicia Sesión</h1>
        <p>Ingresa los datos del usuario.</p>
      </div>
    </div>
    <form method="POST" class="formulario">
      <div class="mb-3">
        <input name="email" type="email" class="form-control" required placeholder="Email" value="{{ email or '' }}" required autofocus>
      </div>
      <div class="mb-3">
        <input name="password" type="password" required placeholder="Contraseña" class="form-control" required>
      </div>
      <div class="genbuttons2">
            {% if error %}
            <div class="alert-danger">Datos Incorrectos</div>
            {% endif %}
        <button type="submit">Entrar</button>
      </div>
    </form>
  </div>
</body>
</html>
